@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.specificpuppy-main {
    font-family: 'Caveat', cursive;
    position: absolute;
    margin-top: 3%;
    width: 100%;
   
}

.specificpuppy-navbar {
    margin-bottom: 30px;
}

.specificpuppy-navlink {
    margin: 0px 20px;
    font-size: 30px;
    font-weight: bold;
}

.ui.centered.fluid.card {
    width: 40%;
}

.content.specificpuppy-card-container-content {
    text-align: center;
    width:auto;
}

.image.specificpuppy-card-container-content-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

